# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
hand_recognition_env/

# Environment variable files
.env

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency files
pip-wheel-metadata/
*.egg-info/
dist/
build/
